# Codealong Notebook

Use this notebook as your "scratch pad" as you go through the course contents. Feel free to copy any example code and tweak it to get a better understanding of how it works!

Use the **+** button or `Insert` menu to add additional code cells as needed.

#### Imports and Setting API Key

In [1]:
import openai

In [2]:
openai.api_key = "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"

#### Creating a Prompt

In [3]:
ukraine_prompt = """
Question: When did Russia invade Ukraine?
Answer: 
"""
ukraine_prompt

'\nQuestion: When did Russia invade Ukraine?\nAnswer: \n'

#### Using a Completion Endpoint

In [5]:
#openai.Completion.create(model="text-davinci-003")
openai.Completion.create(model="gpt-3.5-turbo-instruct")

<OpenAIObject text_completion id=cmpl-971AxhWWR18PxDl2HtKRe2t0hCjNk at 0x7f422d72f130> JSON: {
  "choices": [
    {
      "finish_reason": "length",
      "index": 0,
      "logprobs": null,
      "text": "'Boy, 13, bottled while playing' \n\nA 13-year"
    }
  ],
  "created": 1711459843,
  "id": "cmpl-971AxhWWR18PxDl2HtKRe2t0hCjNk",
  "model": "gpt-3.5-turbo-instruct",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 16,
    "prompt_tokens": 1,
    "total_tokens": 17
  }
}

#### Specifying a Prompt

In [7]:
ukraine_answer = openai.Completion.create(
    model="gpt-3.5-turbo-instruct",
    prompt=ukraine_prompt
)

In [8]:
print(ukraine_answer)

{
  "choices": [
    {
      "finish_reason": "length",
      "index": 0,
      "logprobs": null,
      "text": "The Russian invasion of Ukraine began in February 2014 and is still ongoing."
    }
  ],
  "created": 1711459905,
  "id": "cmpl-971Bxr7P9qX37xI9gaCpJ3uuYVHFu",
  "model": "gpt-3.5-turbo-instruct",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 16,
    "prompt_tokens": 12,
    "total_tokens": 28
  }
}

#### Extracting Response Text

In [9]:
ukraine_answer["choices"][0]["text"]

'The Russian invasion of Ukraine began in February 2014 and is still ongoing.'

In [10]:
ukraine_answer["usage"]

<OpenAIObject at 0x7f41d867e5e0> JSON: {
  "completion_tokens": 16,
  "prompt_tokens": 12,
  "total_tokens": 28
}

## Step 1

### Loading the Data with `pandas`

In [11]:
import requests

In [21]:
# Get the Wikipedia page for "2022" since OpenAI's models stop in 2021
#response = requests.get("https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exlimit=1&titles=2022&explaintext=1&formatversion=2&format=json")
#OR
params = {
    "action": "query", 
    "prop": "extracts",
    "exlimit": 1,
    "titles": "2022",
    "explaintext": 1,
    "formatversion": 2,
    "format": "json"
}
resp = requests.get("https://en.wikipedia.org/w/api.php", params=params)

In [22]:
resp

In [23]:
response_dict = resp.json()

In [26]:
#response_dict
#response_dict["query"]
#response_dict["query"]["pages"]
#response_dict["query"]["pages"][0]
#response_dict["query"]["pages"][0]["extract"]
#response_dict["query"]["pages"][0]["extract"].split("\n")
print(response_dict["query"]["pages"][0]["extract"].split("\n")[:2])

['2022 (MMXXII) was a common year starting on Saturday of the Gregorian calendar, the 2022nd year of the Common Era (CE) and Anno Domini (AD) designations, the 22nd  year of the 3rd millennium and the 21st century, and the  3rd   year of the 2020s decade.  ', 'The year saw the removal of nearly all COVID-19 restrictions and the reopening of international borders in most countries, while the global rollout of COVID-19 vaccines continued. The global economic recovery from the pandemic continued, though many countries experienced an ongoing inflation surge; in response, many central banks raised their interest rates to landmark levels. The world population reached eight billion people in 2022, though the year also witnessed numerous natural disasters, including two devastating Atlantic hurricanes (Fiona and Ian), and the most powerful volcano eruption of the century so far. The later part of the year also saw the first public release of ChatGPT by OpenAI starting an arms race in artificial intelligence which increased in intensity into 2023, as well as the collapse of the cryptocurrency exchange FTX.']

In [31]:
import pandas as pd

# Load page text into a dataframe
df = pd.DataFrame()
df["text"] = response_dict["query"]["pages"][0]["extract"].split("\n")
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year saw the removal of nearly all COVID-1...
2    2022 was also dominated by wars and armed conf...
3
4
..                                                 ...
253
254                                 == Nobel Prizes ==
255
256
257                                   == References ==

[258 rows x 1 columns]

In [33]:
# Clean up text to remove empty lines and headings
df = df[(df["text"].str.len() > 0)]
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year saw the removal of nearly all COVID-1...
2    2022 was also dominated by wars and armed conf...
5                                         == Events ==
8                                      === January ===
..                                                 ...
247                                 == Demographics ==
248  The world population was estimated to have rea...
251                                       == Deaths ==
254                                 == Nobel Prizes ==
257                                   == References ==

[224 rows x 1 columns]

In [34]:
df = df[(~df["text"].str.startswith("=="))]
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year saw the removal of nearly all COVID-1...
2    2022 was also dominated by wars and armed conf...
9     January 1 – The Regional Comprehensive Econom...
10   January 2 – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
241  December 21–December 26 – A major winter storm...
242  December 24 – 2022 Fijian general election: Th...
243  December 29 – Brazilian football legend Pelé d...
244  December 31 – Former Pope Benedict XVI dies at...
248  The world population was estimated to have rea...

[207 rows x 1 columns]

In [29]:
from dateutil.parser import parse

In [35]:
# In some cases dates are used as headings instead of being part of the
# text sample; adjust so dated text samples start with dates
prefix = ""
for (i, row) in df.iterrows():
    # If the row already has " - ", it already has the needed date prefix
    if " – " not in row["text"]:
        try:
            # If the row's text is a date, set it as the new prefix
            parse(row["text"])
            prefix = row["text"]
        except:
            # If the row's text isn't a date, add the prefix
            row["text"] = prefix + " – " + row["text"]
df = df[df["text"].str.contains(" – ")]
df

                                                  text
0     – 2022 (MMXXII) was a common year starting on...
1     – The year saw the removal of nearly all COVI...
2     – 2022 was also dominated by wars and armed c...
9     January 1 – The Regional Comprehensive Econom...
10   January 2 – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
241  December 21–December 26 – A major winter storm...
242  December 24 – 2022 Fijian general election: Th...
243  December 29 – Brazilian football legend Pelé d...
244  December 31 – Former Pope Benedict XVI dies at...
248  December 7 – The world population was estimate...

[184 rows x 1 columns]

In [36]:
df.reset_index(inplace=True, drop=True)

In [37]:
df

                                                  text
0     – 2022 (MMXXII) was a common year starting on...
1     – The year saw the removal of nearly all COVI...
2     – 2022 was also dominated by wars and armed c...
3     January 1 – The Regional Comprehensive Econom...
4    January 2 – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
179  December 21–December 26 – A major winter storm...
180  December 24 – 2022 Fijian general election: Th...
181  December 29 – Brazilian football legend Pelé d...
182  December 31 – Former Pope Benedict XVI dies at...
183  December 7 – The world population was estimate...

[184 rows x 1 columns]

### Creating an Embeddings Index with `openai.Embedding`

## Step 2

### Finding Relevant Data with Cosine Similarity

## Step 3

### Tokenizing with `tiktoken`

### Composing a Custom Text Prompt

## Step 4

### Getting a Custom Q&A Response with `openai.Completion`