# Codealong Notebook

Use this notebook as your "scratch pad" as you go through the course contents. Feel free to copy any example code and tweak it to get a better understanding of how it works!

Use the **+** button or `Insert` menu to add additional code cells as needed.

#### Imports and Setting API Key

In [4]:
import openai

In [5]:
openai.api_key = "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"

#### Creating a Prompt

In [4]:
ukraine_prompt = """
Question: When did Russia invade Ukraine?
Answer: 
"""
ukraine_prompt

'\nQuestion: When did Russia invade Ukraine?\nAnswer: \n'

#### Using a Completion Endpoint

In [5]:
#openai.Completion.create(model="text-davinci-003")
openai.Completion.create(model="gpt-3.5-turbo-instruct")

<OpenAIObject text_completion id=cmpl-97dhi021TogmZOgSU1CdzhQKTGoXB at 0x7f37d5d6b360> JSON: {
  "choices": [
    {
      "finish_reason": "length",
      "index": 0,
      "logprobs": null,
      "text": "Dezena 26. (dezenas 1 a 50)"
    }
  ],
  "created": 1711607946,
  "id": "cmpl-97dhi021TogmZOgSU1CdzhQKTGoXB",
  "model": "gpt-3.5-turbo-instruct",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 16,
    "prompt_tokens": 1,
    "total_tokens": 17
  }
}

#### Specifying a Prompt

In [6]:
ukraine_answer = openai.Completion.create(
    model="gpt-3.5-turbo-instruct",
    prompt=ukraine_prompt
)

In [7]:
print(ukraine_answer)

{
  "choices": [
    {
      "finish_reason": "length",
      "index": 0,
      "logprobs": null,
      "text": "Russia first invaded Ukraine in February 2014, when Russian troops entered the Ukrainian"
    }
  ],
  "created": 1711607948,
  "id": "cmpl-97dhkIKPgjItP6oyV4f7L26OmH6CR",
  "model": "gpt-3.5-turbo-instruct",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 16,
    "prompt_tokens": 12,
    "total_tokens": 28
  }
}

#### Extracting Response Text

In [8]:
ukraine_answer["choices"][0]["text"]

'Russia first invaded Ukraine in February 2014, when Russian troops entered the Ukrainian'

In [9]:
ukraine_answer["usage"]

<OpenAIObject at 0x7f3780f97ae0> JSON: {
  "completion_tokens": 16,
  "prompt_tokens": 12,
  "total_tokens": 28
}

## Step 1

### Loading the Data with `pandas`

In [10]:
import requests

In [11]:
# Get the Wikipedia page for "2022" since OpenAI's models stop in 2021
#response = requests.get("https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exlimit=1&titles=2022&explaintext=1&formatversion=2&format=json")
#OR
params = {
    "action": "query", 
    "prop": "extracts",
    "exlimit": 1,
    "titles": "2022",
    "explaintext": 1,
    "formatversion": 2,
    "format": "json"
}
resp = requests.get("https://en.wikipedia.org/w/api.php", params=params)

In [12]:
resp

In [13]:
response_dict = resp.json()

In [14]:
#response_dict
#response_dict["query"]
#response_dict["query"]["pages"]
#response_dict["query"]["pages"][0]
#response_dict["query"]["pages"][0]["extract"]
#response_dict["query"]["pages"][0]["extract"].split("\n")
print(response_dict["query"]["pages"][0]["extract"].split("\n")[:2])

['2022 (MMXXII) was a common year starting on Saturday of the Gregorian calendar, the 2022nd year of the Common Era (CE) and Anno Domini (AD) designations, the 22nd  year of the 3rd millennium and the 21st century, and the  3rd   year of the 2020s decade.  ', 'The year saw the removal of nearly all COVID-19 restrictions and the reopening of international borders in most countries, while the global rollout of COVID-19 vaccines continued. The global economic recovery from the pandemic continued, though many countries experienced an ongoing inflation surge; in response, many central banks raised their interest rates to landmark levels. The world population reached eight billion people in 2022, though the year also witnessed numerous natural disasters, including two devastating Atlantic hurricanes (Fiona and Ian), and the most powerful volcano eruption of the century so far. The later part of the year also saw the first public release of ChatGPT by OpenAI starting an arms race in artificial intelligence which increased in intensity into 2023, as well as the collapse of the cryptocurrency exchange FTX.']

In [15]:
import pandas as pd

# Load page text into a dataframe
df = pd.DataFrame()
df["text"] = response_dict["query"]["pages"][0]["extract"].split("\n")
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year saw the removal of nearly all COVID-1...
2    2022 was also dominated by wars and armed conf...
3
4
..                                                 ...
253
254                                 == Nobel Prizes ==
255
256
257                                   == References ==

[258 rows x 1 columns]

In [16]:
# Clean up text to remove empty lines and headings
df = df[(df["text"].str.len() > 0)]
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year saw the removal of nearly all COVID-1...
2    2022 was also dominated by wars and armed conf...
5                                         == Events ==
8                                      === January ===
..                                                 ...
247                                 == Demographics ==
248  The world population was estimated to have rea...
251                                       == Deaths ==
254                                 == Nobel Prizes ==
257                                   == References ==

[224 rows x 1 columns]

In [17]:
df = df[(~df["text"].str.startswith("=="))]
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year saw the removal of nearly all COVID-1...
2    2022 was also dominated by wars and armed conf...
9     January 1 – The Regional Comprehensive Econom...
10   January 2 – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
241  December 21–December 26 – A major winter storm...
242  December 24 – 2022 Fijian general election: Th...
243  December 29 – Brazilian football legend Pelé d...
244  December 31 – Former Pope Benedict XVI dies at...
248  The world population was estimated to have rea...

[207 rows x 1 columns]

In [18]:
from dateutil.parser import parse

In [19]:
# In some cases dates are used as headings instead of being part of the
# text sample; adjust so dated text samples start with dates
prefix = ""
for (i, row) in df.iterrows():
    # If the row already has " - ", it already has the needed date prefix
    if " – " not in row["text"]:
        try:
            # If the row's text is a date, set it as the new prefix
            parse(row["text"])
            prefix = row["text"]
        except:
            # If the row's text isn't a date, add the prefix
            row["text"] = prefix + " – " + row["text"]
df = df[df["text"].str.contains(" – ")]
df

                                                  text
0     – 2022 (MMXXII) was a common year starting on...
1     – The year saw the removal of nearly all COVI...
2     – 2022 was also dominated by wars and armed c...
9     January 1 – The Regional Comprehensive Econom...
10   January 2 – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
241  December 21–December 26 – A major winter storm...
242  December 24 – 2022 Fijian general election: Th...
243  December 29 – Brazilian football legend Pelé d...
244  December 31 – Former Pope Benedict XVI dies at...
248  December 7 – The world population was estimate...

[184 rows x 1 columns]

In [20]:
df.reset_index(inplace=True, drop=True)

In [21]:
df

                                                  text
0     – 2022 (MMXXII) was a common year starting on...
1     – The year saw the removal of nearly all COVI...
2     – 2022 was also dominated by wars and armed c...
3     January 1 – The Regional Comprehensive Econom...
4    January 2 – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
179  December 21–December 26 – A major winter storm...
180  December 24 – 2022 Fijian general election: Th...
181  December 29 – Brazilian football legend Pelé d...
182  December 31 – Former Pope Benedict XVI dies at...
183  December 7 – The world population was estimate...

[184 rows x 1 columns]

In [22]:
df.to_csv("text.csv")

### Creating an Embeddings Index with `openai.Embedding`

In [24]:
df = pd.read_csv("text.csv", index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 0 to 183
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    184 non-null    object
dtypes: object(1)
memory usage: 2.9+ KB

In [25]:
df.head()

                                                text
0   – 2022 (MMXXII) was a common year starting on...
1   – The year saw the removal of nearly all COVI...
2   – 2022 was also dominated by wars and armed c...
3   January 1 – The Regional Comprehensive Econom...
4  January 2 – Abdalla Hamdok resigns as Prime Mi...

In [26]:
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"
response = openai.Embedding.create(
        input=df["text"].tolist(),
        engine=EMBEDDING_MODEL_NAME
    )

In [33]:
print(type(response))
print(response.keys())
print(type(response["data"]))
#print(response["data"][0]) #lot of output
#print(response["data"][0]["embedding"]) #lot of output
print(len(response["data"][0]["embedding"]))

<class 'openai.openai_object.OpenAIObject'>
dict_keys(['object', 'data', 'model', 'usage'])
<class 'list'>
1536

In [34]:
embeddings = [data["embedding"] for data in response["data"]]

In [36]:
#print(embeddings) #lot of output

In [37]:
df["embeddings"] = embeddings
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 0 to 183
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   text        184 non-null    object
 1   embeddings  184 non-null    object
dtypes: object(2)
memory usage: 4.3+ KB

In [38]:
df.head()

,text,embeddings
0,– 2022 (MMXXII) was a common year starting on...,"[8.86711131897755e-05, -0.018001560121774673, ..."
1,– The year saw the removal of nearly all COVI...,"[-0.009768129326403141, -0.02161601185798645, ..."
2,– 2022 was also dominated by wars and armed c...,"[-0.00966522004455328, -0.015339725650846958, ..."
3,January 1 – The Regional Comprehensive Econom...,"[-0.0005232167895883322, -0.024104055017232895..."
4,January 2 – Abdalla Hamdok resigns as Prime Mi...,"[-0.015023498795926571, 0.0012224462116137147,..."

In [39]:
df.to_csv("embeddings.csv")

In [40]:
## If you want to stop the tutorial here and come back, you can reload df using 
##this code (again adding your API key) rather than generating the embeddings again:

# import numpy as np
# import pandas as pd
# import openai
# openai.api_key = "YOUR API KEY"
# df = pd.read_csv("embeddings.csv", index_col=0)
# df["embeddings"] = df["embeddings"].apply(eval).apply(np.array)

## Step 2

### Finding Relevant Data with Cosine Similarity

In [3]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("embeddings.csv", index_col=0)
df["embeddings"] = df["embeddings"].apply(eval).apply(np.array)

In [7]:
df.head()

,text,embeddings
0,– 2022 (MMXXII) was a common year starting on...,"[8.86711131897755e-05, -0.018001560121774673, ..."
1,– The year saw the removal of nearly all COVI...,"[-0.009768129326403141, -0.02161601185798645, ..."
2,– 2022 was also dominated by wars and armed c...,"[-0.00966522004455328, -0.015339725650846958, ..."
3,January 1 – The Regional Comprehensive Econom...,"[-0.0005232167895883322, -0.024104055017232895..."
4,January 2 – Abdalla Hamdok resigns as Prime Mi...,"[-0.015023498795926571, 0.0012224462116137147,..."

In [8]:
question = "When did russia invade ukraine?"

In [9]:
from openai.embeddings_utils import get_embedding

In [11]:
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"
question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)

In [13]:
#print(question_embeddings)    #lot of output

In [14]:
from openai.embeddings_utils import distances_from_embeddings

In [15]:
distances = distances_from_embeddings(
    question_embeddings,
    df['embeddings'].tolist(),
    distance_metric="cosine"
)

In [17]:
#print(distances)    #lot of output

In [18]:
df["distances"] = distances

In [19]:
df.head()

,text,embeddings,distances
0,– 2022 (MMXXII) was a common year starting on...,"[8.86711131897755e-05, -0.018001560121774673, ...",0.292401
1,– The year saw the removal of nearly all COVI...,"[-0.009768129326403141, -0.02161601185798645, ...",0.276210
2,– 2022 was also dominated by wars and armed c...,"[-0.00966522004455328, -0.015339725650846958, ...",0.184720
3,January 1 – The Regional Comprehensive Econom...,"[-0.0005232167895883322, -0.024104055017232895...",0.286324
4,January 2 – Abdalla Hamdok resigns as Prime Mi...,"[-0.015023498795926571, 0.0012224462116137147,...",0.259960

In [20]:
df.to_csv("distances.csv")

In [21]:
df.sort_values(by='distances')

,text,embeddings,distances
34,March 2 – Russian invasion of Ukraine: Russia ...,"[0.0007707776385359466, -0.01842544414103031, ...",0.114497
56,April 3 – Russian invasion of Ukraine: As Russ...,"[-0.012191026471555233, -0.012353314086794853,...",0.114866
162,November 11 – Russian invasion of Ukraine: Ukr...,"[-0.012272331863641739, -0.013933486305177212,...",0.118329
154,October 29 – Russian invasion of Ukraine: In r...,"[-0.009882332757115364, -0.030413171276450157,...",0.120522
134,September 21 – Russian invasion of Ukraine: Fo...,"[-0.025641538202762604, -0.022013138979673386,...",0.121109
...,...,...,...
182,December 31 – Former Pope Benedict XVI dies at...,"[0.023651951923966408, 0.0077328672632575035, ...",0.294021
171,"November 30 – OpenAI releases ChatGPT, an arti...","[-0.011313166469335556, -0.014398574829101562,...",0.294103
55,March 31 – Expo 2020 closes in Dubai after a 6...,"[-0.0032144421711564064, -0.046534109860658646...",0.294998
58,April 4 – The Intergovernmental Panel on Clima...,"[-0.010461787693202496, -0.01637105830013752, ...",0.295802
169,November 20 – 2022 Nepalese general election: ...,"[-0.004360385239124298, -0.0007406857912428677...",0.297857

In [23]:
df.iloc[162]['text']

'November 11 – Russian invasion of Ukraine: Ukrainian forces recapture Kherson, the only regional capital to be taken by Russia since the start of the war.'

In [24]:
df.sort_values(by='distances').to_csv('distances_sorted.csv')

## Step 3

### Tokenizing with `tiktoken`

### Composing a Custom Text Prompt

## Step 4

### Getting a Custom Q&A Response with `openai.Completion`